[Unit]
Description=Heethings Central Heating Control Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/opt/heethings
ExecStart=/opt/heethings/cc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
